<section class="product r p-3 content">
  <ng-content select=".from-favorite-btn"></ng-content>
  <app-product-labels
    *ngIf="product?.labels?.length"
    [labelsData]="product?.labels"
  ></app-product-labels>
  <div class="product__wrap">
    <a [routerLink]="['/product', product.id]" routerLinkActive="router-link-active">
      <div class="product-preview__wrap">
        <div
          class="product-preview__image"
          [ngStyle]="{ 'background-image': 'url(' + product?.images?.[0]?.src || product?.image + ')' }"
        >
          <ng-container *ngFor="let image of product.images">
            <div class="product-preview__curtain" [appCurtains]="image.src"></div>
          </ng-container>
        </div>
      </div>
      <span class="product-title">{{ product?.title }}</span>
    </a>
    <div class="product-main">
      <div class="product__price-wrap">
        <app-product-price [price]="product?.price"></app-product-price>
        <ng-content select=".to-card-btn"></ng-content>
        <ng-content select=".to-favorite-btn"></ng-content>
    
      </div>
    </div>
  </div>
</section>
