@use '../../../../styles/variables/colors';

.product {
    height: 100%;

    &-preview__image {
        display: flex;
        height: 340px;
        background-size: cover;
    }

    &-preview__curtain {
        width: 100%;
    }

    &-preview__curtain.active {
        border-top: 3px solid #888;
    }
}
