@use "../../../../styles/variables/colors";

.product {
    width: 236px;
    display: flex;
    flex-direction: column;
    padding: 0 5px 10px;
    border: 1px solid colors.$grey-border;
    &__wrap {
        padding: 10px 20px;
    }
    &-preview__wrap {
        background-color: colors.$card-bg;
    }
    &-preview__image {
        display: flex;
        height: 340px;
        background-size: cover;
    }
    &-preview__under {

    }

    &-preview__curtain {
        width: 100%;
    }

    &-preview__curtain.active {
        border-top: 3px solid #888;
    }

    &-main {
        color: colors.$products-text;
        background-color: colors.$card-bg;
    }
    &-main {

    }
    &-title {

    }
}

@media screen and (min-width: 768px) {
    .product {

    }
}

@media screen and (min-width: 900px) {
    
}