<section class="home">
  <div class="home__banner"></div>
  <ng-container *ngIf="products$ | async as commonProducts">
    <ng-container  *ngIf="historyProducts$ | async as historyProducts">
      <app-dashboard
      *ngIf="historyProducts?.length"
      [title]="'dashboard.newProducts' | translate"
      [products]="historyProducts$ | async"
      (toFavoriteEvent)="addToFavorite($event)"
      (deleteFromFavoriteEvent)="deleteFromFavorite($event)"
    ></app-dashboard>
    </ng-container>  
  
    <app-dashboard
    [title]="'dashboard.newProducts' | translate"
      [products]="commonProducts?.newest"
      (toFavoriteEvent)="addToFavorite($event)"
      (deleteFromFavoriteEvent)="deleteFromFavorite($event)"
    ></app-dashboard>
    <app-dashboard
    popular-products
    [title]="'dashboard.popularProducts' | translate"
      [products]="commonProducts?.popular"
      (toFavoriteEvent)="addToFavorite($event)"
      (deleteFromFavoriteEvent)="deleteFromFavorite($event)"
    ></app-dashboard>
  </ng-container>
</section>
