:host {
  display: flex;
}

// .active {
//   color: red;
// }
.cabinet-sidebar {
  width: 300px;
  padding: 0 10px;
  // background-color: rgb(205, 221, 221);
}

.cabinet-content {
  padding: 0 20px;
  border-left: 1px solid #eeeeee;
  width: 100%;
//  background-color: rgb(161, 165, 164);
}

.cabinet-user {
  padding: 10px 0 20px;
}

.cabinet-nav {

}

.cabinet-nav-list {
 
  
}

.cabinet-nav-item {
  margin-bottom: 5px;
}

.cabinet-nav-link {
  display: block;
  padding: 10px;
  border-radius: 8px;
  &:hover {
    background-color: #00ac45;
  }
  &.active {
    background-color: #00ac45;
  }
}


