<div class="paginator">
  <a class="nav-panel__btn" (click)="onPreviousPage()">
  <svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path opacity="0.5" d="M6.5 1L1.5 6L6.5 11" stroke="#351F6F" stroke-width="1.5" stroke-linecap="round"
          stroke-linejoin="round"/>
  </svg>
</a>
  <ul class="paginator-list">
    <ng-container *ngFor="let page of pages">
      <li class="paginator-list__item" *ngIf="page !== null" [class.active-item]="page === currentPage">
        <a class="paginator-list__page" (click)="onChangePage(page)">{{ page }}</a>
      </li>
      <li class="paginator-list__dots" *ngIf="page === null"><span>...</span></li>
    </ng-container>
<!--  <li *ngIf="rightDivider" class="nav-panel__item nav-panel__item_padding"><span>...</span></li>-->
  </ul>
  <a class="nav-panel__btn" (click)="onNextPage()">
    <svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path opacity="0.5" d="M1.5 1L6.5 6L1.5 11" stroke="#351F6F" stroke-width="1.5" stroke-linecap="round"
            stroke-linejoin="round"/>
    </svg>
  </a>
</div>
