.languages {
    display: flex;

    &-item {
        padding: 2px 6px;
        text-transform: uppercase;

        &:last-child {
            border-left: 2px solid rgb(48, 48, 48);
        }
    }
}
