<app-product-form
(saveFormEvent)="saveForm($event)"
[categories]="categories$ | async"
>
</app-product-form>

<!-- <div cdkDropList style="display: flex; flex-wrap: wrap;" cdkDropListOrientation="vertical" class="example-list" (cdkDropListDropped)="drop($event)">
    <div
        class="example-box"
        style="min-width: 200px; padding: 20px; border: 1px solid red;"
        *ngFor="let timePeriod of timePeriods" cdkDrag>{{timePeriod}}</div>
  </div> -->

  <!-- <div style="display:flex;flex-wrap:wrap" cdkDropListGroup>
    <div cdkDropList [cdkDropListData]="i" *ngFor="let item of items; let i = index;" style="border: 1px solid red;"  [style.width]="'200px'">
      <div cdkDrag [cdkDragData]="i" (cdkDragEntered)="entered($event)">
        {{item}}
      </div>
    </div>
  </div> -->
