<section class="about df">
    <div class="about__main">
    <div class="about__gallery">
        <lpch-images-slider [images]="(productDetails$ | async)?.images"></lpch-images-slider>
    </div>
    <div class="about__info"></div>
</div>
<div class="about__decription">
   <p>sdaskdjaklsjdlkjslkdj</p> 
   <p>sdaskdjaklsjdlkjslkdj</p> 
   <p>sdaskdjaklsjdlkjslkdj</p> 
   <p>sdaskdjaklsjdlkjslkdj</p> 
   <p>sdaskdjaklsjdlkjslkdj</p> 
   <p>sdaskdjaklsjdlkjslkdj</p> 
   <p>sdaskdjaklsjdlkjslkdj</p> 
   <p>sdaskdjaklsjdlkjslkdj</p> 
   <p>sdaskdjaklsjdlkjslkdj</p> 
   <p>sdaskdjaklsjdlkjslkdj</p> 
   <p>sdaskdjaklsjdlkjslkdj</p> 
   <p>sdaskdjaklsjdlkjslkdj</p> 
   <p>sdaskdjaklsjdlkjslkdj</p> 
   <p>sdaskdjaklsjdlkjslkdj</p> 
   <p>sdaskdjaklsjdlkjslkdj</p> 
   <p>sdaskdjaklsjdlkjslkdj</p> 
   <p>sdaskdjaklsjdlkjslkdj</p> 
   <p>sdaskdjaklsjdlkjslkdj</p> 
   <p>sdaskdjaklsjdlkjslkdj</p> 
   <p>sdaskdjaklsjdlkjslkdj</p> 
   <p>sdaskdjaklsjdlkjslkdj</p> 
   <p>sdaskdjaklsjdlkjslkdj</p> 
   <p>sdaskdjaklsjdlkjslkdj</p> 
   <p>sdaskdjaklsjdlkjslkdj</p> 
   <p>sdaskdjaklsjdlkjslkdj</p> 
   <p>sdaskdjaklsjdlkjslkdj</p> 
   <p>sdaskdjaklsjdlkjslkdj</p> 
   <p>sdaskdjaklsjdlkjslkdj</p> 

</div>
</section>