// @import "~swiper/swiper-bundle";
// @import '~swiper';
// @import 'swiper/scss/navigation';
// @import 'swiper/scss/pagination';

.about {
  &__gallery {
    width: 50%;
  }

  &__info {
    width: 50%;
  }
}
.my-class {
    width: 60px;
    height: 60px;
}

.swiper-list {
    width: 240px;
    height: 60px;
    margin: 0 auto;
}
swiper>.swiper.s-wrapper .swiper-wrapper .swiper-slide {
    overflow: hidden;
}
::ng-deep swiper {
    .swiper-container {
        width: 100%;
        height: 300px;
        margin: 50px auto;
      }
      
      .swiper-slide {
        background: #f1f1f1;
        color: #000;
        text-align: center;
        line-height: 300px;
      }
}

.my-swiper {
    width: 300px;
}

.slider-item {
    width: 200px;
}

[class^="number-slide"],
[class*=" number-slide"] {
  background: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #fff;
  font-weight: 500;
  height: 200px;
  max-height: 100vh;
}
 

.thumbnail .keen-slider__slide {
  font-size: 30px;
  margin-top: 10px;
  height: 100px;
}
.thumbnail .keen-slider__slide {
  cursor: pointer;
}
.thumbnail .keen-slider__slide.active {
  border: 2px dashed black;
}
