// @import "~swiper/swiper-bundle";
// @import '~swiper';
// @import 'swiper/scss/navigation';
// @import 'swiper/scss/pagination';

.about {
  &__gallery {
    width: 50%;
    padding-right: 20px;
  }

  &__info {
    width: 50%;
    align-self: baseline;
    padding-left: 20px;
    &-wrap {
      padding: 10px;
      border: 1px solid #c3c3c3;
      border-radius: 5px; 
    }
    &-price {
      margin-bottom: 10px;
    }
  }
}
.my-class {
    width: 60px;
    height: 60px;
}

.swiper-list {
    width: 240px;
    height: 60px;
    margin: 0 auto;
}
swiper>.swiper.s-wrapper .swiper-wrapper .swiper-slide {
    overflow: hidden;
}
::ng-deep swiper {
    .swiper-container {
        width: 100%;
        height: 300px;
        margin: 50px auto;
      }
      
      .swiper-slide {
        background: #f1f1f1;
        color: #000;
        text-align: center;
        line-height: 300px;
      }
}

.my-swiper {
    width: 300px;
}

.slider-item {
    width: 200px;
}

[class^="number-slide"],
[class*=" number-slide"] {
  background: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #fff;
  font-weight: 500;
  height: 200px;
  max-height: 100vh;
}
 

.thumbnail .keen-slider__slide {
  font-size: 30px;
  margin-top: 10px;
  height: 100px;
}
.thumbnail .keen-slider__slide {
  cursor: pointer;
}
.thumbnail .keen-slider__slide.active {
  border: 2px dashed black;
}

.about__pay-btn {
  margin-left: 20px;
  padding: 10px 15px;
  color: #f1f1f1;
  background-color: green;
 border-radius: 5px;
}
.about__properties {
  margin-top: 50px;
  &__list {
  }
  &-item {
    display: flex;
  }
  &-name {
    position: relative;
    width: 40%;
    & span {
        position: relative;
        padding-right: 20px;
        background-color: #f7f8f9;
    }
  }
  &-name:before {
    display: block;
    position: absolute;
    left: 0;
    bottom: 4px;
    // display: none;
    width: 100%;
    border-bottom: 1px dotted #d2d2d2;
    content: '';
  }

  &-value {
    padding-left: 10px;
    width: 50%;
  }
} 