<mat-stepper linear #stepper>
  <mat-step [stepControl]="mainForm" [editable]="true">
    <form class="product-form" [formGroup]="mainForm">
      <app-translation-form
        [title]="'Title'"
        [langs]="languages"
        formControlName="title"
      ></app-translation-form>

      <mat-form-field appearance="fill" floatLabel="always">
        <mat-label>Price</mat-label>
        <input
          matInput
          type="number"
          formControlName="price_current"
          class="example-right-align"
          placeholder="0"
        />
        <span matPrefix>&#8372;</span>
      </mat-form-field>

      <mat-form-field appearance="fill" floatLabel="always">
        <mat-label>Old Price</mat-label>
        <input
          matInput
          type="number"
          formControlName="price_old"
          class="example-right-align"
          placeholder="0"
        />
        <span matPrefix>&#8372;</span>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Choose an category</mat-label>
        <mat-select [formControl]="categoryControl">
          <ng-container *ngFor="let category of categories">
            <mat-option [value]="category?.id">{{
              category?.title | valueDefaultTranslation
            }}</mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>

      <mat-slide-toggle
        formControlName="is_public"
        class="product-form_toogle"
        [checked]="true"
        [disabled]="false"
      >
        public
      </mat-slide-toggle>

      <app-slider-field formControlName="rating"></app-slider-field>

      <mat-slide-toggle
        formControlName="is_new"
        class="product-form_toogle"
        [checked]="true"
        [disabled]="false"
      >
        Is new
      </mat-slide-toggle>
      <button [disabled]="!mainForm?.valid" mat-button matStepperNext>
        Next
      </button>
    </form>
    <ng-template matStepLabel>Main info</ng-template>
  </mat-step>
  <mat-step [stepControl]="imagesForm" [editable]="true">
    <form [formGroup]="propertiesForm">
      <ng-template matStepLabel>Images</ng-template>
      <app-file-uploader
        [multiple]="true"
        class="product-form_files"
        (changeFiles)="uploadFiles($event)"
      ></app-file-uploader>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button [disabled]="!imagesForm?.valid" mat-button matStepperNext>
          Next
        </button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="propertiesForm" [editable]="true" >
    <ng-container *ngIf="propertiesForm">
      <form [formGroup]="propertiesForm">
        <ng-container formArrayName="properties">
          <ng-container
            *ngFor="let propertyGroup of propertiesGroupsArray.controls"
          >
            <div
              class="fl-j-sb fl-a-c properties-form-row"
              [formGroup]="propertyGroup"
            >
              <div>{{ propertyGroup.get("propertyGroup").value }}</div>

              <mat-form-field
                [class.empty-field]="!select.value?.length"
                appearance="fill"
              >
                <mat-label>Choose an property</mat-label>
                <mat-select
                  #select
                  formControlName="property"
                  [multiple]="true"
                >
                  <!-- <mat-option class="empty_property" [value]="0"
                    >null</mat-option -->
                  <!-- > -->
                  <ng-container
                    *ngFor="
                      let property of getProperties(
                        propertyGroup.get('propertyGroup').value
                      )
                    "
                  >
                    <mat-option [value]="property?.id">{{
                      property?.title | valueDefaultTranslation
                    }}</mat-option>
                  </ng-container>
                </mat-select>
              </mat-form-field>
            </div>
          </ng-container>
        </ng-container>
        <ng-template matStepLabel>Properties</ng-template>

        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button
            (click)="saveForm()"
            type="button"
            mat-raised-button
            color="primary"
          >
            Save
          </button>
        </div>
      </form>
    </ng-container>
  </mat-step>
  <!-- <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step> -->
</mat-stepper>

<!-- <app-chips></app-chips> -->
