<div class="cart-page__wrapper">
  <div class="cart-page" *ngIf="cartData$ | async as cartData; else emptyContent">
      <header>
        <h1>Корзина</h1>
      </header>
      <section class="cart-page__wrapper g-4">
        <div class="cart-list">
          <app-cart-items-list
            [cartList]="(cartData$ | async)?.list"
            (delete)="deleteFromCart($event)"
            (setAmount)="setProductAmount($event)"
            class="fl-c g-2"
          >
          </app-cart-items-list>
        </div>
        <div class="cart-data content p-4">
          <app-cart-details [cartData]="cartData" (changeUserData)="sendOrder($event, cartData)"></app-cart-details>
        </div>
      </section>

  </div>
  <ng-template #emptyContent>
    <div>тут повинно бути повідомлення про порожній кошик</div>
  </ng-template>
</div>
