<section class="characteristics" *ngIf="productDetails$ | async as product">
    <dl class="characteristics__list">
        <div *ngFor="let property of product.properties" class="characteristics__item">
            <dt class="characteristics__name">
                <span> {{property.propertygroup.title}}</span>

            </dt>
            <dd class="characteristics__value">
                <a [routerLink]="['/', 'products', product.category.url]" routerLinkActive="router-link-active" > {{property.title}}</a> 
            </dd>
        </div>
        <!-- <div class="characteristics__item">
            <dt class="characteristics__name">
                Розмір
            </dt>
            <dd class="characteristics__value">
                <a [routerLink]="['/']" routerLinkActive="router-link-active" >Двохспальна</a> 
            </dd>
        </div>
        <div class="characteristics__item">
            <dt class="characteristics__name">
                Колір
            </dt>
            <dd class="characteristics__value">
                <a [routerLink]="['/']" routerLinkActive="router-link-active" >Світлий</a> 
            </dd>
        </div>  -->
    </dl>
</section>