<section class="characteristics">
    <dl class="characteristics__list">
        <div>
            <dt class="characteristics__name">
                Матеріал
            </dt>
            <dd class="characteristics__value">
                <a [routerLink]="['/']" routerLinkActive="router-link-active" >Бавовна</a> 
            </dd>
        </div>
        <div>
            <dt>
                Розмір
            </dt>
            <dd>
                <a [routerLink]="['/']" routerLinkActive="router-link-active" >Двохспальна</a> 
            </dd>
        </div>
        <div>
            <dt>
                Колір
            </dt>
            <dd>
                <a [routerLink]="['/']" routerLinkActive="router-link-active" >Світлий</a> 
            </dd>
        </div> 
    </dl>
</section>