.characteristics {
  &__list {
  }
  &__item {
    display: flex;
  }
  &__name {
    position: relative;
    width: 40%;
    & span {
        position: relative;
        padding-right: 20px;
        background-color: #f7f8f9;
    }
  }
  &__name:before {
    display: block;
    position: absolute;
    left: 0;
    bottom: 4px;
    // display: none;
    width: 100%;
    border-bottom: 1px dotted #d2d2d2;
    content: '';
  }

  &__value {
    padding-left: 10px;
    width: 50%;
  }
}
