*.sql linguist-detectable=true
*.sql linguist-language=SQL

docker-compose.* linguist-detectable=true
docker-compose.* linguist-language=Dockerfile

Dockerfile.prod linguist-detectable=true
Dockerfile.prod linguist-language=Dockerfile
