# common
node_modules

# client
client/prerender.js.map
client/server.js.map
client/server.js
client/dist
dist-server
client/static

# server

# IDE - VSCode
.vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# nginx
/nginx/img

# sphinx
sphinx/index/*
!sphinx/index/.gitkeep
