<div class="dashboard m-v-5">
  <h2>{{ title }}</h2>
  <ul class="list gr-3 g-1">
    <li *ngFor="let product of products">
      <app-product-preview-card
        [product]="product"
      >
      <button
      (click)="
        product?.isFavorite ? deleteFromFavorite(product?.favoriteId) : addToFavorite(product?.id)
      "
      class="favorites-btn icon-btn"
    >
      <app-leprachaun-icon
        name="heart"
        [strokedColor]="product?.isFavorite ? 'rose' : 'none'"
        [width]="22"
        [height]="22"
      >
      </app-leprachaun-icon>
    </button>
      </app-product-preview-card>
    </li>
  </ul>
</div>
