@import "/src/styles/helpers/mixins.scss"; 
.category {
    &-info {
        
    }
    &-header {
        display: flex; 
    }
 

    &-title {
        margin-left: 50px;
    }
    &-data {
        
    }
    // &-info {
        
    // }
    .products-add {
        margin-left: auto;
    }
}

@include ng-deep {
    lpch-image {
      .image {
        width: 150px;
        height : 150px;
      }
    }
  }