<div class="section-wrapper category">
  <ng-container *ngIf="category$ | async as category">
  <div class="section-container">
      <div class="category-info">
        <div class="category-header">
          <lpch-image [src]="category?.icon || ''"></lpch-image>
          <h1 class="category-title">{{ category?.title | valueDefaultTranslation }}</h1>
        </div>

        <div class="category-data">
          <p>
            <span>id</span>: <span>{{ category.id }}</span>
          </p>
          <p>
            <span>title</span>: <span>{{ category.title | valueDefaultTranslation }}</span>
          </p>
          <p>
            <span>url</span>: <span>{{ category.url }}</span>
          </p>
          <p>
            <span>Is public</span>: <span>{{ category.is_public }}</span>
          </p>
        </div>
      </div>
  </div>

  <div class="section-container">

    <a
    routerLink="/admin/product/add"
    [queryParams]="{category: category.id}"
    class="products-add"
    mat-raised-button
    color="accent"
  >
    <mat-icon>add</mat-icon>
  </a>

    <ng-container *ngIf="products$ | async as products">
        <app-products-list
          [products]="products"
          (onRemoveProduct)="deleteProducts($event)"
          (onChangePage)="changePage($event)"
        ></app-products-list>
        <ng-container *ngIf="products?.pagination as pagination">
          <app-paginator *ngIf="pagination.pageCount > 1"
            (changePage)="changePage($event)"
            [totalSize]="products?.pagination.pageCount"
            [currentPage]="products?.pagination.currentPage"
          ></app-paginator>
        </ng-container>
      </ng-container>
  </div>
</ng-container>
</div>
