<ng-container *ngIf="propertiesGroups$ | async as propertiesGroups">
    <header class="properties-header">
      <h1>Property Groups</h1>
      <a
        routerLink="./properties-group"
        class="properties-add"
        mat-raised-button
        color="accent"
      >
        <mat-icon>add</mat-icon>
      </a>
    </header>
    <div class="properties-list_wrapper">
        <ng-container *ngFor="let propertyGroup of propertiesGroups">
            <app-property-group-preview-card (removeProp)="removeProperty($event)" [propetiesGroupData]="propertyGroup"></app-property-group-preview-card>
        </ng-container>
      <!-- <app-category-list
        [categories]="categories"
        (onGoToCategProds)="goToCategProds($event)"
        (onGoToCategDetails)="goToCategDetailsPage($event)"
        (onRemoveCategory)="deleteCategory($event)"
      ></app-category-list> -->
    </div>
  </ng-container>