<div class="product-price fl-c" [class]="priceCurrentStyle">
  <ng-container *ngIf="price?.old; else simplePrice">
    <span class="product-price_old fc-2" [class]="priceOldStyle">
      {{ price?.old | numberBySpace}}
      <span [class]="priceOldStyle">&#8372;</span>
    </span>
    <span class="product-price_current">
      {{ price?.current | numberBySpace }}
      <span [class]="priceOldStyle">&#8372;</span>
    </span>
  </ng-container>
  <ng-template #simplePrice>
    <span class="price-simple">
      {{ price?.current | numberBySpace }}
      <span [class]="priceOldStyle">&#8372;</span>
    </span>
  </ng-template>
</div>
