.order {
    height: 100%;
    &-header{
        position: relative;
        display: flex;
        justify-content: space-between;
    }
    &-info {
        padding-right: 24px;
    }
    &-option {
        width: 60%;
    }

    &-product-title {
        width: 40%;
    }
    &-products-list {
        width: 100%;
    }

    &-body {
        width: 100%;
    }
}

.product {
    &-total {
        flex-grow: 1;
    }

    &-count {
         
    }

    &-price {
        flex-grow: 1;
    }

    
}

.order-chevron {
    &-open {
        transform: rotate(-180deg)
    }
}



.order-status {
    position: absolute;
    left: -30px;
    height: 100%;
       width: 8px;
}

.order-images {
    display: inline-block;
    height: 100%;
    max-height: 60px;
    width: 60px;
    object-fit: contain;
}