@tailwind base;

@layer base {
    :root {
        /* Default background color of <body />...etc */
        --background: #fff;
        --foreground: black;

        --primary: black;
        --primary-foreground: white;

        --secondary: #f8f8f8;
        --secondary-foreground: #797878;

        --success: green;

        --achtung: #f84147;
        --achtung-foreground: #fff;

        --achtung-secondary: #ffa900;
        --achtung-secondary-foreground: #fff;

        --overlay: #ededed7d;

        --action: #73afe4;
        --action-hover: #0b5ba1;

        --popover: white;
        --popover-foreground: black;

        --muted-primary: #e7e7e7;
        --muted-primary-foreground: gray;

        --muted-secondary: var(--secondary);
        --muted-secondary-foreground: gray;

        /* --accent: 210 40% 96.1%;
        --accent-foreground: 222.2 47.4% 11.2%;

        --destructive: 0 100% 50%;
        --destructive-foreground: 210 40% 98%; */

        --frame-radius: 0;
    }
}

/* Default background color of <body />...etc */
/* --background: #fff;
--foreground: 222.2 47.4% 11.2%;

--primary: black;
--primary-foreground: lightgray;

--secondary: #e9e9e9;
--secondary-foreground: #797878;

--achtung: #f84147;
--achtung-foreground: #fff;

--achtung-secondary: #ffa900;
--achtung-secondary-foreground: #fff;

--card: 0 0% 100%;
--card-foreground: 222.2 47.4% 11.2%;

--border: 214.3 31.8% 91.4%;

--input: 214.3 31.8% 91.4%;

--accent: 210 40% 96.1%;
--accent-foreground: 222.2 47.4% 11.2%;

--destructive: 0 100% 50%;
--destructive-foreground: 210 40% 98%;

--ring: 215 20.2% 65.1%;

--radius: 0.5rem; */