:host {
  display: flex;
  justify-content: center;
  padding: 50px;
}
.properties-group-form {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.properties-group_toogle {
  margin-bottom: 18px;
}
