<section class="product-page">
    <div *ngIf="productDetails$ | async as productDetails">
    <h1 class="product-page__header">{{productDetails.title}}</h1>
    <div *ngIf="productDetails.wishlistCount"><span>Цей товар додали в улюблені {{productDetails.wishlistCount}} людини</span></div>
    <lpch-tabs [tabs]="tabs"></lpch-tabs>
    <!-- <nav class="product-tabs">
        <a class="product-tabs__link" routerLink="about-product">Про товар</a>
        <a class="product-tabs__link" routerLink="characteristics">Характеристика</a>
        <a class="product-tabs__link" routerLink="photo">Фото</a>
    </nav> -->
</div>
</section>
<router-outlet></router-outlet>

