:host {
    z-index: 2;
    box-shadow: 1px -5px 16px 1px #303030;
}

// @include ng-deep {
    .header__main {
        // background-color: #002147;
    }

    .header__title {
        color: #A38A00;
    }
//   }