<div class="product g-3 p-3 content">
  <a [routerLink]="['/product/', product?.id]" class="product_first">
    <lpch-image [src]="product?.product?.image"></lpch-image>
  </a>
  <div class="product_second fl-c">
    <div class="fs-2">
      <a [routerLink]="['/product/', product?.id]" class="product-title">{{
        product?.product?.title
      }}</a>
    </div>
    <span *ngIf="showAmountError"> Мінімальна кількість товару 1 шт </span>
    <button (click)="deleteFromCart()">
      <app-leprachaun-icon name="close" width="12" heigh="12"></app-leprachaun-icon>
    </button>
  </div>
  <div class="product_third fl-c">
    <app-product-price [price]="product?.summaryPrice"></app-product-price>
    <app-lpch-counter-input
      (changeCount)="setProductAmount($event)"
      [value]="product?.amount"
    ></app-lpch-counter-input>
  </div>
</div>
