.product-price {
    color: #221f1f;
}

.price {
    &-old {
        text-decoration: line-through;
        color: #a6a5a5;
    }

    &-current {
        color: #f84147;
    }

    &-simple {

    }
}
