@use '../../../../styles/variables/colors';
@use '../../../../styles/variables/layouts';

:host {
    display: flex;
    flex-direction: column;
    color: colors.$strong-primary-font;
    font-size: layouts.$large-font;
}

.price {
    &-old {
        font-size: layouts.$small-font;
        text-decoration: line-through;
        color: colors.$low-primary-font;
    }

    &-current {
        color: colors.$hight-primary-font;
    }
}
