@use "../../../../styles/variables/colors" as colors;

.product-price {
    line-height: 18px;

    &_old {
        text-decoration: line-through;
    }

    &_current {
        color: colors.$font-attention-color;;
    }
}
