<section class="product">
    <div class="product__wrap">
        <a [routerLink]="['/product', product.id]" routerLinkActive="router-link-active">
        <div class="product-preview__wrap">
          <div
            class="product-preview__image"
            [ngStyle]="{ 'background-image': 'url(' + product?.image + ')' }"
          >
            <ng-container *ngFor="let image of product.images">
              <div class="product-preview__curtain" [appCurtains]="image.src"></div>
            </ng-container>
          </div>
        </div>
        <span class="product-title">{{ product?.title }}</span>
      </a>
        <div class="product-main">
          <div class="product__price-wrap">
            <span class="product__price">1231$</span>
            <button (click)="addToCard(product?.id)" class="icon-btn">
  
              <app-leprachaun-icon name="card" [color]="product?.inCard ? 'green' : 'rose'" [width]="22" [height]="22"> </app-leprachaun-icon>
              <!-- <app-leprachaun-icon name="cardSelected" color="rose" [width]="22" [height]="22"> </app-leprachaun-icon> -->
            </button>
            <!-- <button class="header_help main-btn">
              <app-leprachaun-icon name="question" color="gray"> </app-leprachaun-icon>
              <span class="btn-label">Допомога</span>
            </button> -->
          </div>
        </div>
      </div>
  
  </section>
  