@import '/src/styles/core/variables';
:host {
//   width: 200px;
  display: flex;
  flex-direction: column;
  padding: 0 5px 10px;
  border: 1px solid $grey-border;
  padding: 15px;
}
.product-preview__wrap {
  background-color: $card-bg;
}
.product-preview__image {
  height: 170px;
  width: 100%;
  object-fit: cover;
}

.product-preview__curtain {
  width: 100%;
}

.product-preview__curtain.active {
  border-top: 3px solid #888;
}

.product-main {
  color: $products-text;
  background-color: $card-bg;
}

.product-title {
    color: #292b31;
    font-size: 16px;
    line-height: 1.15;
    max-height: 36.8px;
    height: 36.8px;
    width: 100%;
    margin-bottom: 10px;
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.product-image {
    margin-bottom: 15px;
}
