@import "/src/styles/core/variables";

.product {
    width: 236px;
    display: flex;
    flex-direction: column;
    padding: 0 5px 10px;
    border: 1px solid $grey-border;
    &__wrap {
        padding: 10px 20px;
    }
    &-preview__wrap {
        background-color: $card-bg;
    }
    &-preview__image {
        height: 280px;
        width: 100%;
        object-fit: cover;
    }
    &-preview__under {

    }

    &-preview__curtain {
        width: 100%;
    }

    &-preview__curtain.active {
        border-top: 3px solid #888;
    }

    &-main {
        color: $products-text;
        background-color: $card-bg;
    }
    &-main {

    }
    &-title {

    }
}

@media screen and (min-width: 768px) {
    .product {

    }
}

@media screen and (min-width: 900px) {
    
}