<mat-card 
(click)="goToProdView()"
class="product-card">

<span class="product-title">{{ product?.title  }}</span>
<img stubImage class="product-image" [src]="product.images[0]?.src" alt="" />
<span class="product-status">published</span>
<div class="product-actions card__actions">
  <a
    class="btn-preview_min"
    [routerLink]="['view', product?.id]"
    mat-mini-fab
    color="preview_btn"
  >
    <mat-icon>visibility</mat-icon>
  </a>
  <a [routerLink]="['edit', product?.id]" mat-mini-fab color="primary">
    <mat-icon>mode_edit</mat-icon>
  </a>
  <button (click)="removeProduct(product.id)" mat-mini-fab color="warn">
    <mat-icon>delete</mat-icon>
  </button>
</div>
  