button {
  display: inline-flex;
  align-items: center;
  border: none;
}

.main-btn {
  background: none;
  font-family: $base-font;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: $btn-main;
  &:hover {
    color: $btn-rose;
    svg {
      fill: $btn-rose;
    }
  }
  .btn-label {
    margin-left: 5px;
  }
}

.rose-btn {
  padding: 10px 16px;
  border: none;
  border-radius: 8px;
  background: $btn-rose;
  font-family: $base-font;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: $white-text;
  &:hover {
    background: $btn-light-rose;
  }
  // .btn-label {
  //   margin-left: 5px;
  // }
}
