@use '../variables/colors';

button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: transparent;
  min-width: 30px;
  min-height: 30px;
  font-size: inherit;
  cursor: pointer;
}

.main-btn {
  display: flex;
  background: none;
  // font-family: colors.$base-font;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  // color: colors.$btn-main;

  &:hover,&.active {
    // color: colors.$btn-rose;

    svg {
      // fill: colors.$btn-rose;
    }
  }

  .btn-label {
    margin-left: 5px;
  }
}
