<form class="category-form" [formGroup]="form">

  <mat-form-field appearance="fill">
    <mat-label>Url</mat-label>
    <input matInput formControlName="url" />
  </mat-form-field>

  <!-- <mat-form-field appearance="fill">
    <mat-label>Title</mat-label>
    <input matInput formControlName="title" />
  </mat-form-field> -->

  <app-translation-form [title]="'Title'" [langs]="languages" formControlName="title"></app-translation-form>

  <mat-form-field appearance="fill">
    <mat-label>Properties groups</mat-label>
    <mat-select formControlName="propertygroups" multiple>
      <ng-container *ngFor="let propertiesGroup of propertiesGroups">
        <mat-option [value]="propertiesGroup?.id">{{ propertiesGroup?.title | valueDefaultTranslation }}</mat-option>
      </ng-container>
    </mat-select>
  </mat-form-field>


  <mat-slide-toggle
    class="category-form_toogle"
    formControlName="is_public"
    [checked]="true"
    [disabled]="false"
  >
    public
  </mat-slide-toggle>

  <app-file-uploader
    class="category-form_files"
    (changeFiles)="uploadFiles($event)"
  ></app-file-uploader>

  <button
    [disabled]="!form?.valid"
    (click)="saveForm()"
    type="button"
    mat-raised-button
    color="primary"
  >
    Save
  </button>
</form>
