<mat-card (click)="goToCategProds(category.url)" class="category-card">
  <mat-card-header>
    <mat-card-title>{{ category?.title }}</mat-card-title>
    <div class="card__actions">
      <button mat-mini-fab color="warn">
        <mat-icon>delete</mat-icon>
      </button>
      <a [routerLink]="['edit', category?.url]" mat-mini-fab color="primary">
        <mat-icon>mode_edit</mat-icon>
      </a>
    </div>
  </mat-card-header>
  <img
    stubImage
    mat-card-image
    [src]="category?.icon || ''"
    [alt]="category?.title"
  />
</mat-card>
