
<section (click)="goToCategProds(category?.url)" class="category-card">
  <span class="category-title">{{ category?.title }}</span>
  <img stubImage class="category-image" [src]="category?.icon || ''" alt="" />
  <span class="category-status">published</span>
  <div class="category-actions card__actions">
    <a
      class="btn-preview_min"
      [routerLink]="['/admin/categories/personal', category?.url]"
      mat-mini-fab
      color="preview_btn"
    >
      <mat-icon>visibility</mat-icon>
    </a>
    <a [routerLink]="['edit', category?.url]" mat-mini-fab color="primary">
      <mat-icon>mode_edit</mat-icon>
    </a>
    <button (click)="removeCategory($event, category?.id)" mat-mini-fab color="warn">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</section>
