<div class="favorites-page__wrapper">
  <div class="favorites-page">
    <ng-container *ngIf="favoritesData$ | async as favorites">
      <ng-container *ngIf="favorites.length; else emptyContent">
        <ng-container *ngTemplateOutlet="header; context: {favorites}"></ng-container>
        <ul class="gr-4 g-1">
          <li *ngFor="let favorite of favorites">

            <app-product-card
            [product]="favorite.product"
            >
            <button (click)="deleteFromFavorite(favorite?.id)" class="delete-card-btn icon-btn">
              <app-leprachaun-icon name="trash" color="rose" [width]="22" [height]="22">
              </app-leprachaun-icon>
            </button>
            <button (click)="addToCart(favorite?.product?.id)" class="to-card-btn icon-btn">
              <app-leprachaun-icon
                name="cart"
                [color]="favorite?.product?.inCart ? 'green' : 'rose'"
                [width]="22"
                [height]="22"
              >
              </app-leprachaun-icon>
              <!-- <app-leprachaun-icon name="cardSelected" color="rose" [width]="22" [height]="22"> </app-leprachaun-icon> -->
            </button>
          </app-product-card>
          
          </li>
        </ul>
      </ng-container>
    </ng-container>
    <ng-template #emptyContent>
      <ng-container *ngTemplateOutlet="header"></ng-container>
      <div>тут повинно бути повідомлення про порожній список улюблених товарів</div>
    </ng-template>
    <ng-template #header let-favorites="favorites">
      <header class="fl-j-sb fl-a-c">
        <h1>{{"cabinet.wishlist.header" | translate}}</h1>
        <button *ngIf="favorites?.length" (click)="clearAllFavorites()">Очистити улюблені</button>
      </header>
    </ng-template>
  </div>
</div>
