$color-primary: #3f51b5;
$color-primary-50: rgba(63, 81, 181, 0.5);

// fonts
$base-font: 'Raleway', sans-serif;
$amatic-font: 'Amatic SC', sans-serif;

// Body
$body-color-bg: #fff;
$body-color-text: #444;

// Toolbar
$toolbar-height: 56px;

// Sidebar
$sidebar-width: 64px;

// Footer
$footer-height: 49px;

// Containers
$container-width: 1320px;

$transition-all:  all 0.15s ease-out;

$border-color: #424242;
$grey: #e0e0e0;

// wrapper
$wrapper-width: 1400px;

// buttons
$btn-rose: #ea4c89;
$btn-light-rose: #f082ac;
$btn-main: #6e6d7a;

// border
$white-border: #fff;
$grey-border: #e0e0e0;

// tabs
$tab-westar: rgba(13,12,34,0.05);


// products
$card-bg: #fff;


// text
$main-text-color: #0d0c22;
$products-text: #2f2f2f;
$white-text: #fff;

// breakpoints
$media-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
	xxl: 1400px
);
