[class^="number-slide"],
[class*=" number-slide"] {
  background: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #fff;
  font-weight: 500;
  // height: 200px;
  max-height: 100vh;
  // min-height: 300px;
}

.thumbnail .keen-slider__slide {
    font-size: 30px;
    
    height: 100%;
    cursor: pointer;
    background-size: cover;
   
  } 
  .keen-slider__image {
    object-fit: contain;
  }
  
  .thumbnail .keen-slider__slide.active {
    border: 2px dashed black;
  }

  .keen-slider.thumbnail {
    margin-top: 10px;
    height: 60px;
  }