<div class="keen-slider" #sliderRef>
  <ng-container *ngFor="let photo of images; let i = index">
    <img
      class="keen-slider__slide keen-slider__image"
      [src]="mediaEndpoint + '/' + photo.src"
      alt=""
    />
  </ng-container>
</div>
<div class="keen-slider thumbnail" #thumbnailRef>
  <ng-container *ngFor="let photo of images; let i = index">
    <div
      [style.background-image]="'url(' + mediaEndpoint + '/' + photo.src + ')'"
      class="keen-slider__slide"
    ></div>
  </ng-container>
</div>
