<div class="viewed-page__wrapper">
  <div class="viewed-page">
    <ng-container *ngIf="viewedData$ | async as products">
      <ng-container *ngIf="products.length; else emptyContent">
        <ng-container *ngTemplateOutlet="header; context: {products}"></ng-container>
        <ul class="gr-4 g-1">
          <li *ngFor="let product of products">
            <app-product-card [product]="product">
              <button
                (click)="
                  product?.isFavorite
                    ? deleteFromFavorite(product?.favoriteId)
                    : addToFavorite(product?.id)
                "
                class="to-favorite-btn icon-btn"
              >
                <app-leprachaun-icon
                  name="heart"
                  [strokedColor]="product?.isFavorite ? 'rose' : 'none'"
                  [width]="24"
                  [height]="24"
                >
                </app-leprachaun-icon>
              </button>
              <button (click)="addToCart(product?.id)" class="to-card-btn icon-btn">
                <app-leprachaun-icon
                  name="cart"
                  [color]="product?.inCart ? 'green' : 'rose'"
                  [width]="22"
                  [height]="22"
                >
                </app-leprachaun-icon>
                <!-- <app-leprachaun-icon name="cardSelected" color="rose" [width]="22" [height]="22"> </app-leprachaun-icon> -->
              </button>
            </app-product-card>
          </li>
        </ul>
      </ng-container>
    </ng-container>
    <ng-template #emptyContent>
      <ng-container *ngTemplateOutlet="header"></ng-container>
      <div>тут повинно бути повідомлення про порожній список переглянутих товарів</div>
    </ng-template>
    <ng-template #header let-products="products">
      <header class="fl-j-sb fl-a-c">
        <h1>{{ 'cabinet.viewed.header' | translate }}</h1>
        <button *ngIf="products?.length" (click)="deleteFromViewed()">Очистити історію</button>
      </header>
    </ng-template>
  </div>
</div>
