:host {
  width: 100%;
  padding: 20px 0;
  // border: 1px solid red;
  background: #e1e1e1;
    border-radius: 12px;
  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.header {
  width: 100%;
}

.header-title {
  font-size: 12px;
}

.header-block {
  flex-basis: 20%;
}

.bordert {
  // border-top: 1px solid #eee;
}

.panel {
  margin-bottom: 12px !important;
}