<div class="favorites-page__wrapper">
    <div class="favorites-page">
      <header>
        <h1>Улюблені</h1>
      </header>
      <section class="products-page__wrap">
        <ng-container *ngIf="favoritesData$ | async as products">
          <ng-container *ngIf="products.length; else emptyContent">
            <app-favorites-item
              *ngFor="let product of products"
             
              [product]="product"
            ></app-favorites-item>
          </ng-container>
        </ng-container>
        <ng-template #emptyContent>
            <div>тут повинно бути повідомлення про порожній список улюблених товарів</div>
        </ng-template>
        <!-- <ng-container *ngFor="let product of products$ | async as products">
            
            </ng-container> -->
      </section>
    </div>
  </div>