<section class="home">
  <div class="home__banner"></div>
  <ng-container  *ngIf="dasboardUserProducts$ | async as userProducts">
    <ng-container *ngIf="userProducts?.history.length">
      <app-dashboard
      [title]="'dashboard.newProducts' | translate"
      [products]="(userProducts | async)?.history"
      (toFavoriteEvent)="addToFavorite($event)"
      (deleteFromFavoriteEvent)="deleteFromFavorite($event)"
    ></app-dashboard>
    </ng-container>

  </ng-container>  


  <ng-container *ngIf="dasboardCommonProducts$ | async as commonProducts">
    <app-dashboard
    [title]="'dashboard.newProducts' | translate"
      [products]="commonProducts?.newest"
      (toFavoriteEvent)="addToFavorite($event)"
      (deleteFromFavoriteEvent)="deleteFromFavorite($event)"
    ></app-dashboard>
    <app-dashboard
    popular-products
    [title]="'dashboard.popularProducts' | translate"
      [products]="commonProducts?.popular"
      (toFavoriteEvent)="addToFavorite($event)"
      (deleteFromFavoriteEvent)="deleteFromFavorite($event)"
    ></app-dashboard>
  </ng-container>
</section>
