<h2 class="header">{{ title }}</h2>
<ul class="list">
  <li *ngFor="let product of products">
    <app-product-preview-card
      (toFavoriteEvent)="addToFavorite($event)"
      (deleteFromFavoriteEvent)="deleteFromFavorite($event)"
      [product]="product"
    >
      <button
        favoritesAction
        (click)="product?.isFavorite ? deleteFromFavorite(product?.id) : addToFavorite(product?.id)"
      >
        <app-leprachaun-icon
          name="heart"
          [strokedColor]="product?.isFavorite ? 'rose' : 'none'"
          [width]="22"
          [height]="22"
        >
        </app-leprachaun-icon>
      </button>
    </app-product-preview-card>
  </li>
</ul>
