@use '../variables/colors';
@use '../variables/layouts';

.container {
    max-width: layouts.$container-width;
    margin: 0 auto;

    @media only screen and (max-width: layouts.$container-width) {
        padding: #{layouts.$space-3}px !important;
    }
}

.content {
    background-color: colors.$content-background;
    box-shadow: 1px 2px 2px colors.$light-shadow;
}
