@import "/src/styles/components/card.scss";
@import "/src/styles/helpers/mixins.scss";

:host {
  width: 100%;
  border-bottom: 2px solid #eee;
}
.category {
  &-card {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
  }

  &-id {
    width: 5%;
  } 
  
  &-title {
    width: 20%;
  } 

  &-image {
    width: 10%;
    // height: 100px;
    object-fit: contain;
  }
  &__status {
    width: 15%;
    &-budge {
      padding: 8px 25px;
      border-radius: 15px;
      color: #fff;
      &.unpublish {
        background-color: #bf0404;
      }
      &.publish {
        background-color: #008000;
      }
    }
  }
  &-actions {
    width: 50%;
  }
  &-image {
  }
}

@include ng-deep {
  lpch-image {
    .image {
      width: 80px;
      height: 80px;
    }
  }
}

// @include border()
