<section
  matRipple
  [matRippleCentered]="false"
  [matRippleDisabled]="false"
  [matRippleUnbounded]="false"
  [matRippleColor]="'rgb(0 8 249 / 24%)'"
  (click)="goToCategProds(category?.url)"
  class="category-card"
>
  <span class="category-id">{{ category?.id }}</span>
  <span class="category-title">{{
    category?.title | valueDefaultTranslation
  }}</span>
  <lpch-image class="category-image" [src]="category?.icon || ''"></lpch-image>

  <div class="category__status">
    <span
      class="category__status-budge"
      [ngClass]="{
        publish: category.is_public,
        unpublish: !category.is_public
      }"
      >{{ category.is_public ? "publish" : "unpublish" }}</span
    >
  </div>

  <div class="category-actions card__actions">
    <a
      class="btn-preview_min"
      [routerLink]="['/admin/categories/personal', category?.url]"
      mat-mini-fab
      color="preview_btn"
    >
      <mat-icon>visibility</mat-icon>
    </a>
    <a [routerLink]="['edit', category?.url]" mat-mini-fab color="primary">
      <mat-icon>mode_edit</mat-icon>
    </a>
    <button
      (click)="removeCategory($event, category?.id)"
      mat-mini-fab
      color="warn"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</section>
