<div class="card-page__wrapper">
  <div class="card-page">
    <header>
      <h1>Корзина</h1>
    </header>
    <section class="products-page__wrap">
      <ng-container *ngIf="products$ | async as products">
        <ng-container *ngIf="products.length; else emptyContent">
          <app-card-item
            *ngFor="let product of products"
            (delete)="deleteFromCard($event)"
            [product]="product"
          ></app-card-item>
        </ng-container>
      </ng-container>
      <ng-template #emptyContent>
          <div>тут повинно бути повідомлення про порожній кошик</div>
      </ng-template>
      <!-- <ng-container *ngFor="let product of products$ | async as products">
          
          </ng-container> -->
    </section>
  </div>
</div>
