<div class="cart-page__wrapper">
  <div class="cart-page" *ngIf="cartData$ | async as cartData">
    <ng-container *ngIf="cartData?.list?.length; else emptyContent">
      <header>
        <h1>Корзина</h1>
      </header>
      <section class="cart-page__wrapper">
        <div class="cart-list">
          <app-card-items-list [cartList]="(cartData$ | async)?.list">

          </app-card-items-list>
        </div>
        <div class="cart-data">
          <app-cart-details></app-cart-details>
        </div>
    
      </section>
       <!-- <section *ngIf="cartData?.list?.length" class="cart-form__wrap">
        <form [formGroup]="userForm" class="cart-form">
          <lpch-input-field
            class="cart-form__control"
            formControlName="name"
            [placeholder]="'Enter your name...'"
          ></lpch-input-field>

          <lpch-phone-field
            [formControlName]="'phone'"
            class="cart-form__control"
            phoneMask
            [preValue]="userForm.value.phone"
            [phoneControl]="userForm.controls['phone']"
            [placeholder]="'Enter your phone...'"
            formControlName="phone"
            [maxLength]="'14'"
          ></lpch-phone-field>
          <button
            class="rose-btn"
            type="button"
            [disabled]="userForm?.invalid"
            (click)="sendOrder(cartData)"
          >
            Send order
          </button>
        </form>
      </section> -->
    </ng-container>
  </div>
  <ng-template #emptyContent>
    <div>тут повинно бути повідомлення про порожній кошик</div>
  </ng-template>
</div>
