<div class="cart-page__wrapper">
  <div class="cart-page" *ngIf="cartData$ | async as cartData">
    <ng-container *ngIf="cartData?.list?.length; else emptyContent">
      <header>
        <h1>Корзина</h1>
      </header>
      <section class="cart-page__wrapper">
        <div class="cart-list">
          <app-card-items-list 
          [cartList]="(cartData$ | async)?.list"
          (delete)="deleteFromCart($event)"
          (setAmount)="setProductAmount($event)"
          >

          </app-card-items-list>
        </div>
        <div class="cart-data">
          <app-cart-details (changeUserData)="sendOrder($event)"></app-cart-details>
        </div>
    
      </section>
      
    </ng-container>
  </div>
  <ng-template #emptyContent>
    <div>тут повинно бути повідомлення про порожній кошик</div>
  </ng-template>
</div>
