@use '/src/styles/variables/layouts';
.cart-page {
  width: 100%;
  max-width: layouts.$container-width;
  margin: 0 auto;
}

.cart-page__wrapper {
  height: calc(100vh - 97px);
    background: #eee;
    padding: 30px;
    display: flex;
    justify-content: space-between;
}

.cart-list {
  height: 60%;
  /* width: 68%; */
  background: aliceblue;
  flex-basis: 62%;
}

.cart-data {
  height: 30%;
  flex-basis: 36%;
  background: beige;
}

.cart-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__control {
    margin-bottom: 20px;
  }
}
