@import '/src/styles/core/variables';
.card-page {
  max-width: $container-width;
  margin: 0 auto;
}

.card-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__control {
    margin-bottom: 20px;
  }
}
