<div class="products-page__wrapper">
  <div class="products-page">
    <header>
      <div>
        <h1>Постельное белье</h1>
        <span>{{ productsCount }} товаров</span>
      </div>
      <div>
        <div class="products-page__sorting">
          <lpch-select-field [items]="sortData" [selected]="currentSortItem" (onChange)="changeSorting($event)"></lpch-select-field>
        </div>
        <div class="products-page__search">
          <lpch-input-field type="search"></lpch-input-field>
        </div>
      </div>
    </header>
    <section class="products-page__wrap">
      <app-products-filter></app-products-filter>
      <div class="products-list">
        <ng-container *ngIf="productsList$ | async as products">
          <app-products-list
            [products]="products"
            (toCartEvent)="addToCart($event)"
            (toFavoriteEvent)="addToFavorite($event)"
            (deleteFromFavoriteEvent)="deleteFromFavorite($event)"
          ></app-products-list>
          
          <ng-container *ngIf="products?.pagination as pagination">
            <app-paginator
              *ngIf="pagination.pageCount > 1"
              (changePage)="changePage($event)"
              [totalSize]="products?.pagination.pageCount"
              [currentPage]="products?.pagination.currentPage"
            ></app-paginator>
          </ng-container>
        </ng-container>
      </div>
    </section>
  </div>
</div>
