@import "/src/styles/core/variables";
.products-page {
  max-width: $container-width;
  margin: 0 auto;
  &__wrapper {
    background-color: transparent;
  }
  &__wrap {
    display: flex;
  }
  &__sorting {
    max-width: 200px;
  }
}
