@use "../../../../../styles/variables/layouts";

.products-page {
  max-width: layouts.$container-width;
  margin: 0 auto;

  .content {
    flex-grow: 1;
  }

  &__wrapper {
    background-color: transparent;
  }

  &__wrap {
    display: flex;
  }

  &__sorting {
    max-width: 200px;
  }
}
