:host {
    display: flex;
    justify-content: center;
    padding: 50px;
}
.category-form {
    display: flex;
    flex-direction: column;
    width: 400px;
    &_toogle, &_files {
        margin-bottom: 18px;
    }
}