button {
  display: inline-flex;
  align-items: center;
  border: none;
}


.main-btn, .file-btn {
  font-family: $base-font;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.main-btn {
  color: $btn-main;
  &:hover {
    color: $btn-rose;
    svg {
      fill: $btn-rose;
    }
  }
  .btn-label {
    margin-left: 5px;
  }
}

.file-btn {
  border: 1px solid;
  border-radius: 5px;
  background-color: $btn-rose;
  padding: 8px;
  color: $btn-gray;
  cursor: pointer;
}

.card__actions {
  display: flex;
  justify-content: center;
  button,
  a:not(:last-child) {
    margin-right: 10px;
  }
}

.mat-preview_btn {
  background-color: green;
  color: #fff;
}

.btn-close {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  transform: rotate(45deg);
  font-size: 15px;
  font-weight: 600;
  color: antiquewhite;
  background-color: #f44336;
}
