// BASE

$white-1: white;
$white-2: #f7f8f9;

$gray-1: #d3d3d34d;
$gray-2: lightgray;
$gray-3: gray;

$black-1: black;

$blue-1: lightskyblue;
$blue-2: blue;
$blue-3: mediumblue;

$red-1: indianred;
$red-2: red;
$red-3: darkred;

// DERIVATIVES

//shadows
$shadow-1: $gray-1;
$shadow-2: $gray-2;

// body
$body-background: $white-2;

// contents
$content-background: $white-1;

// fonts
$font-color-1: $gray-2;
$font-color-2: $gray-3;
$font-color-3: $black-1;
