// Body
$body-background: #f7f8f9;
$body-text: #444;

// хз
$color-primary: #3f51b5;
$color-primary-50: rgba(63, 81, 181, 0.5);
$grey: #e0e0e0;

// fonts
$base-font: 'Raleway', sans-serif;
$amatic-font: 'Amatic SC', sans-serif;

// buttons
$btn-rose: #ea4c89;
$btn-light-rose: #f082ac;
$btn-main: #6e6d7a;

// contents
$content-background: #fff;

//shadows
$light-shadow: #d3d3d34d;
