

// fonts
$base-font: 'Raleway', sans-serif;
$amatic-font: 'Amatic SC', sans-serif;


// Toolbar
$toolbar-height: 56px;

// Sidebar
$sidebar-width: 64px;

// Footer
$footer-height: 49px;

// Containers
$container-width: 1320px;


// wrapper
$wrapper-width: 1400px;

// buttons

// border

// tabs


// products


// text

// breakpoints
$media-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
	xxl: 1400px
);

// contents
