.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

  &_logo {
    font-size: 28px;
  }

  &_nav {
    ul {
      display: flex;
      align-items: center;
    }
  }
}
