@use '../../../../../styles/variables/colors';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

  &_logo {
    font-family: colors.$amatic-font;
    font-size: 28px;
  }

  &_nav {
    font-weight: bold;

    ul {
      display: flex;
      align-items: center;
    }
  }
}
