<header class="header">
  <div class="header_wrapper">
    <!-- <img src="../../../../../assets/img/cryyaCy.jpeg" alt="" class="header_logo" /> -->
    <a class="header_logo">Leprechaun</a>
    <div class="header_actions">
      <!-- <app-lpch-input></app-lpch-input> -->
      <a [routerLink]="['/products']" routerLinkActive="active" class="header_favorites main-btn">
        <!-- <app-leprachaun-icon name="heart" color="gray"> </app-leprachaun-icon> -->
        <span class="btn-label">каталог</span>
      </a>
      <button class="header_help main-btn">
        <app-leprachaun-icon name="question" color="gray"> </app-leprachaun-icon>
        <span class="btn-label">Допомога</span>
      </button>
      <a [routerLink]="['/favorites']" routerLinkActive="active" class="header_favorites main-btn">
        <app-leprachaun-icon name="heart" color="gray"> </app-leprachaun-icon>
        <span class="btn-label">вибране</span>
        <ng-container *ngIf="(favoriteValue$ | async)?.length as favoritesCount">
          <span>{{favoritesCount}}</span>
        </ng-container>
      </a>
      <app-language-switch [languages]="languages"></app-language-switch>
      <a [routerLink]="['/card']" routerLinkActive="active" class="header_cart main-btn">
        <app-leprachaun-icon name="card" color="gray"> </app-leprachaun-icon>
        <span class="btn-label">вкошик</span>
        <ng-container *ngIf="(cardValue$ | async)?.length as cardCount">
          <span>{{cardCount}}</span>
        </ng-container>
      </a>
    </div>
  </div>
</header>
