<header class="header">
  <div class="header_wrapper">
    <!-- <img src="../../../../../assets/img/cryyaCy.jpeg" alt="" class="header_logo" /> -->
    <a class="header_logo">Leprechaun</a>
    <div class="header_actions">
      <!-- <app-lpch-input></app-lpch-input> -->
      <button class="header_help main-btn">
        <app-leprachaun-icon name="question" color="gray"> </app-leprachaun-icon>
        <span class="btn-label">Допомога</span>
      </button>
      <button class="header_favorites main-btn">
        <app-leprachaun-icon name="heart" color="gray"> </app-leprachaun-icon>
        <span class="btn-label">вибране</span>
      </button>
      <app-language-switch [languages]="languages"></app-language-switch>
      <a [routerLink]="['/card']" routerLinkActive="active"  class="header_cart main-btn">
        <app-leprachaun-icon name="card" color="gray"> </app-leprachaun-icon>
        <span class="btn-label">вкошик</span>
        <ng-container *ngIf="(cardValue$ | async)?.length as cardCount">
          <span>{{cardCount}}</span>
        </ng-container>
      </a>
    </div>
  </div>
</header>
