.my-class {
    // width: 60px;
    height: 60px;
}

.swiper-list {
    width: 240px;
    height: 60px;
    margin: 0 auto;
}
swiper>.swiper.s-wrapper .swiper-wrapper .swiper-slide {
    overflow: hidden;
}