<!-- <ng-container *ngIf="productDetails$ | async as product"> -->
  <!-- <div  class="swiper-container" [swiper]="config">
      <div class="swiper-wrapper">
        
      </div>
     
      <div class="swiper-scrollbar"></div>
      <div class="swiper-pagination"></div>
     
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div> -->
  <!-- <div class="products-galery">
      <div class="products-preview">
        <img [src]="currentImage" alt="" />
      </div>
      <div class="swiper-list">
        <swiper 
        [config]="config"
        (swiper)="onSwiper($event)"
        (slideChange)="onSlideChange($event)"
        >
          <div *ngFor="let photo of product?.images">
            <img class="my-class" [src]="photo?.src" />
          </div>
        </swiper>
      </div>
    </div> -->

  <!-- <div>
        <div class="swiper-list">
        <swiper
        [slidesPerView]="3"
        [spaceBetween]="50"
        class="mySwiper">
          
          <div class="my-class"> dasdasda</div>
          <div class="my-class"> dasdasda</div>
          <div class="my-class"> dasdasda</div>
          <div class="my-class"> dasdasda</div>
          <div class="my-class"> dasdasda</div>

        </swiper>
    </div>
    </div> -->

  <!-- <swiper
    #swiperVirtualRef
    direction= 'horizontal'
    [slidesPerView]="1"
    [width]="400"
    [spaceBetween]="50"
    [pagination]="{ type: 'fraction' }"
    [virtual]="true"
    slideActiveClass="swiper-active whyWouldIuseCustomClass"
    [centeredSlides]="true"
    [navigation]="true"
    class="mySwiper"
    id="mySwiperID"
  >
    <ng-template swiperSlide *ngFor="let slide of virtualSlides; index as i"
      >Slide {{ slide }}</ng-template
    >
  </swiper> -->

  <swiper [config]="config" class="my-swiper">
    <div class="slider-item">
      Swiper slide content
    </div>
    <div class="slider-item">
      Swiper slide content
    </div>
    <div class="slider-item">
      Swiper slide content
    </div>
    <div class="slider-item">
      Swiper slide content
    </div>
    <div class="slider-item">
      Swiper slide content
    </div>
    <div class="slider-item">
      Swiper slide content
    </div>
    <div class="slider-item">
      Swiper slide content
    </div>
    <div class="slider-item">
      Swiper slide content
    </div>
  </swiper>

  <button (click)="prev()">prev</button>
  <button (click)="next()">next</button>
<!-- </ng-container> -->
