@import '/src/styles/core/variables';

.product {
  position: relative;
  width: 236px;
  display: flex;
  flex-direction: column;
  padding: 0 5px 10px;
  border: 1px solid $grey-border;
  &__wrap {
    padding: 10px 20px;
  }
  &-preview__wrap {
    background-color: $card-bg;
  }
  &-preview__image {
    display: flex;
    height: 340px;
    background-size: cover;
  }
  &-preview__under {
  }

  &-preview__curtain {
    width: 100%;
  }

  &-preview__curtain.active {
    border-top: 3px solid #888;
  }

  &-main {
    color: $products-text;
    background-color: $card-bg;
  }

  &__remove-btn {
    position: absolute;
    padding: 5px;
    top: 0;
    right: 0;
  }

  &-main {
  }
  &-title {
  }
}

@media screen and (min-width: 768px) {
  .product {
  }
}

@media screen and (min-width: 900px) {
}
