:host {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.paginator {
  display: flex;
  align-items: center;

  &-list {
    padding: 0 20px;
    display: flex;

    &__item {
      margin: 0 3px;
      padding: 0px 3px;
      cursor: pointer;

      &.active-item {
        // border: 1px solid colors.$btn-rose;
      }
    }

    &__dots {
        margin: 0 3px;
        padding: 0px 3px;
    }

    &__page {
    }
  }
}

.nav-panel__btn {
    padding: 0 3px;
    cursor: pointer;
}
