@import '/src/styles/core/variables';

.mat-drawer {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: $martime-blue;
}

.mat-drawer-container .mat-drawer-content {
    min-height: calc(100vh - 64px);
    max-width: 1800px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.sidenav_link {
    display: flex;
    &.active > .sidenav_icon {
        color: $lavender-earl;
    }
}

.sidenav_icon {
    height: 36px;
    width: 36px;
    margin: 5px 0;
    font-size: 36px;
    color: $water-ouzel;
    &:hover {
        color: $lavender-earl;
        transition: color, 0.4s, Cubic;
    }
}