mat-drawer {
    background-color: aqua;
}

.mat-drawer-container .mat-drawer-content {
    min-height: calc(100vh - 64px);
    max-width: 1800px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 20px;
}

.mat-drawer {
    display: flex;
    flex-direction: column;
    min-width: 280px;
}

.sidenav_link {
    display: flex;
}