$color-primary: #3f51b5;
$color-primary-50: rgba(63, 81, 181, 0.5);

// fonts
$base-font: 'Raleway', sans-serif;

// Body
$body-color-bg: #eee;
$body-color-text: #444;

// Toolbar
$toolbar-height: 56px;

// Sidebar
$sidebar-width: 64px;
$martime-blue: #27273c;

// Footer
$footer-height: 49px;

$transition-all:  all 0.15s ease-out;

$border-color: #424242;
$grey: #e0e0e0;

// buttons
$btn-rose: #ea4c89;
$btn-main: #6e6d7a;
$btn-white: #ffffff;
$btn-gray: #eeeeee;

// tabs

$tab-westar: rgba(13,12,34,0.05);

// icons
$water-ouzel: #a4a9af;
$lavender-earl: #b394bb;

// colors 

$lilac-mist: #e4e4e8;
$brilliance: #fdfdfd;


