<div class="product">
  <div class="product-content">
    <a [routerLink]="['/', product?.id]" class="product-image">
      <img [src]="product?.image" alt="" />
    </a>
    <a [routerLink]="['/', product?.id]" class="product-info">{{ product?.title }}</a>
    <div class="product-controls">
      <button (click)="deleteFromCard()">
        <app-leprachaun-icon name="close" width="12" heigh="12"></app-leprachaun-icon>
      </button>
    </div>
  </div>
  <div class="product-footer">
    <app-product-price [price]="product?.price"></app-product-price>
  </div>
</div>
