@use '../variables/layouts' as layouts;

// flex

.fl-c {
    display: flex;
    flex-direction: column;
}

// grid

$box-sizes: layouts.$box-size-1, layouts.$box-size-2, layouts.$box-size-3, layouts.$box-size-4, layouts.$box-size-5;

@for $i from 1 to length($box-sizes) + 1 {
	.gr-#{$i} {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(#{nth($box-sizes, $i)}px, 1fr));
        // grid-auto-rows: #{nth($box-sizes, $i) * 1.5}px;
	}
}
