@forward  "indents";
@forward  "fonts";
@forward  "display";
@forward "position";

@use '../variables/colors';
@use '../variables/design';
@use '../variables/layouts';

.container {
    max-width: layouts.$container-width;
    margin: 0 auto;

    @media only screen and (max-width: layouts.$container-width) {
        padding: #{layouts.$space-3}px !important;
    }
}

.content {
    background-color: colors.$content-background;
    box-shadow: design.$box-shadow-1;
    transition: box-shadow .5s;
    // border: 1px solid colors.$white-2;

    &:hover {
        box-shadow: design.$box-shadow-2;
    }
}
