{
    "type": "postgres",
    "port": 5432,
    "username": "postgres",
    "password": "barabaka35",
    "database": "postgres",
    "migrations": [ "./migrations/*.js" ],
    "migrationsTableName": "_migrations",
    "cli": {
        "migrationsDir": "./migrations"
    }
}
