button {
  display: inline-flex;
  align-items: center;
  border: none;
}

.main-btn {
  font-family: $base-font;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: $btn-main;
  &:hover {
    color: $btn-rose;
    svg {
      fill: $btn-rose;
    }
  }
  .btn-label {
    margin-left: 5px;
  }
}

.card__actions {
  display: flex;
  justify-content: center;
  button,a:not(:last-child) {
    margin-right: 10px;
  }
}

.mat-preview_btn {
  background-color: green;
  color: #fff;
}